{% if get_alert_publisher | length %}
    <div id="sludio_flash_alerts">
        {% include 'SludioHelperBundle:Flash:flashAlerts.html.twig' %}
    </div>

    {% if alert_use_scripts %}
        {% include 'SludioHelperBundle:Flash:jsAlertClose.html.twig' %}
    {% endif %}
{% endif %}
